import { initializeApp } from "firebase/app";


const firebaseConfig = {
  apiKey: "AIzaSyCf_ixKclZTGemkFJGZTzT1f8VodJI-EcY",
  authDomain: "flashcard-app-ef223.firebaseapp.com",
  projectId: "flashcard-app-ef223",
  storageBucket: "flashcard-app-ef223.appspot.com",
  messagingSenderId: "189058797870",
  appId: "1:189058797870:web:bcc3be1919391581c0eabf"
};

const app = initializeApp(firebaseConfig);